.footer-content{
    width: 100%;
    height: 5vh;
    background-color: #1F83BD;
    /* position: fixed; */
    bottom: 0;
    display: flex;
    align-items: center;
}
.footer-content.fixed{
    background-color: white;
    box-shadow: 0.1vw 0.01vw 1vw 0.01vw black;
}
.footer-content a{
    background-color: #51A9DB;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    border: 1px solid #51A9DB;
    border-radius: 0.8vw;
    padding: 0 0.4vw;
    margin: 0 1vw;
}
.footer-content.fixed a{
    background-color: #1F83BD;
}
.footer-content .rigthside a{
    display: flex;
    justify-content: flex-end;
}