.menu {
    width: 10vw;
    background-color: #1F83BD;
    color: white;
    height: 86.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#opc1 {
    height: 0;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    background-color: rgb(208, 223, 237);
    color: #1F83BD;
}
#opc2 {
    height: 0;
    overflow: hidden;
    background-color: rgb(208, 223, 237);
    color: #1F83BD;
    transition: ease-in-out 0.5s;
}
#opc3 {
    height: 0;
    overflow: hidden;
    background-color: rgb(208, 223, 237);
    transition: ease-in-out 0.5s;
    color: #1F83BD;
}
#opc4 {
    transition: ease-in-out 0.5s;
    height: 0;
    overflow: hidden;
    background-color: rgb(208, 223, 237);
    color: #1F83BD;
}
#opc5 {
    height: 0;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    background-color: rgb(208, 223, 237);
    color: #1F83BD;
}
#opc6 {
    height: 0;
    transition: ease-in-out 0.5s;
    background-color: rgb(208, 223, 237);
    color: #1F83BD;
    overflow: hidden;
}
.menu hr {
    size: 10vw;
    color: black;
    display: block; 
    overflow: hidden; 
    border-style: inset;
    border-width: 1px;
    height: 100%;
}